@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
@layer base {
  body {
    @apply font-[Lato];
  }

  li {
    @apply px-2;
    @apply cursor-pointer;
  }

  .overlay{
    @apply bg-[#f00]
  }
}

.bg-string{
  background-image: url("./assets/bg-string3.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  
}
